body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}	    

.gambar {
    margin: 1px 0 2px 0;
    padding: 7px;
    font-family: "Courier New";
    border: 1px dashed #CCC;
    background-color: #F7F7F7;
}